.vscode/
.idea/

build/
cmake-build-*/
install/
compile_commands.json
CMakeUserPresets.json

3rdparty/onnxruntime/
3rdparty/opencv/
weights/

*.a
*.dll
*.dylib
*.o
*.obj
*.so
*.wasm
*.zip

__pycache__/
*.py[cod]
